/* ------------------------------------------ */
/* FONTS */
* {
    font-family: Arial, Helvetica, sans-serif;
}

/* ------------------------------------------ */
/* HEADER */
.header-container {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

.highlight {
    background-color: #0055AA; 
    padding: 4px; 
    border-radius: 4px; 
}

.beta-logo {
    width: 150px; 
    height: auto; 
}

.logo-container {
    display: flex;
    justify-content: center; 
}

/* ------------------------------------------ */
/* LINK */
.linkedin-link {
    color: #0055AA;
}

h4 {
    text-align: center; 
    position: relative; 
    transform: translateY(-50%); 
}

/* ------------------------------------------ */
/* BETA */
.beta-gif {
    justify-content: center;
    border: 3px solid #000000; 
    border-radius: 12px; 
    max-width: 100%; 
    height: auto; 
}

.beta-gif img {
    width: 50%;
    border-radius: 12px;
    max-width: 100%;
    height: auto;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    margin: 4rem;
    column-gap: 60px;
}

.gif-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 20px;
}

.box {
    flex: 1;
    background-color: #ebebeb;
    border-radius: 8px; 
    padding: 15px 30px 30px 30px;
    margin: -0.75rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.box:hover {
    background-color: #e0e0e0;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .beta-gif {
        flex: 1 1 45%;
        max-width: 45%;
    }
}

@media screen and (max-width: 767px) {
    .beta-gif {
        flex: 1 1 100%;
        max-width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        grid-gap: 50px; 
    }
}

@media screen and (max-width: 912px) {
    .container {
        flex-direction: column;
        row-gap: 70px;
    }
}

/* ------------------------------------------ */
/* BETA BUILD */
.beta-build {
    color: white; 
    display: inline-block; 
}

.card-content {
    text-align: center;
    margin-top: 16px;
}

.card-container {
    border: 1px solid #d1d8db;
    border-radius: 8px;
    width: 200px;
    padding: 16px;
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    transition: box-shadow 0.3s ease; 
    overflow: hidden;    
}

.card-container.active {
    display: block; 
}

.card-container:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.card-header {
    display: flex;
    height: 100px; 
    justify-content: center; 
    align-items: center;
}

.card-header-background,
.card-header-background2,
.card-header::after {
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    height: 100px; 
    width: 100%;
    border-radius: 8px 8px 0 0;
    object-fit: cover;
    z-index: 0;
}

.card-header::after {
    content: ""; 
    bottom: 0; 
    background-color: rgba(209, 114, 189, 0.2); 
    z-index: 1; 
}

.card-header.joshua-doe::after {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
    background-color: rgba(190, 209, 114, 0.55); 
    border-radius: 8px 8px 0 0;
    z-index: 1; 
}

.card-header.joshua-doe::after {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
    background-color: rgba(190, 209, 114, 0.55); 
    border-radius: 8px 8px 0 0;
    z-index: 1; 
}

.card-header:not(.joshua-doe)::after {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
    background-color: rgba(209, 114, 189, 0.2);
    border-radius: 8px 8px 0 0;
    z-index: 1; 
}

.close-button {
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    color: #000000;
    font-size: 22px;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 2;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.1s ease; 
}

.close-button:hover {
    transform: rotate(180deg); 
}

.close-button:active {
    background-color: #FFFFFF;
}

.profile-picture {
    display: flex;
    padding-top: 25%;
    justify-content: center;
    z-index: 2;
}

.profile-picture img {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
    z-index: 1;
}

.name {
    font-size: 18px;
    font-weight: bold;
    margin: 8px 0 4px;
}

.bio {
    font-size: 14px;
    color: #666;
    margin: 4px 0;
}

.mutual-connections {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    margin: 16px 0; 
    font-size: 12px;
    color: #666;
    text-align: left; 
    margin-left: 6px;
}

.mutual-connections img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 8px; 
}

.connect-button span {
    position: relative;
    z-index: 1; 
}

.connect-button,
.connect-button.pending {
    background-color: white; 
    border: 2px solid #0073b1;
    color: #0073b1;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 24px;
    cursor: pointer;
    position: relative;
    overflow: hidden; 
    transition: border-color 0.3s, background-color 0.3s, color 0.3s; 
}

.connect-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #D8EFFB; 
    transition: transform 0.3s ease-in-out;
    z-index: 0; 
    border-radius: 24px;
}

.connect-button:hover::before {
    transform: translateX(100%); 
}

.connect-button:active,
.connect-button.pending:active {
    background-color: #0073b1 !important; 
    color: #D8EFFB !important;
    border-color: #0073B1;
}

.connect-button.pending::before {
    background-color: #D8EFFB;
    transform: translateX(-100%); 
}

.connect-button.pending:hover::before {
    transform: translateX(100%);
}

@keyframes slideOut {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

.fadeOut {
    animation: fadeOut 0.5s forwards;
}

.fadeIn {
    animation: fadeIn 0.5s forwards;
}

.slideIn {
    animation: slideIn 0.5s forwards;
}


@keyframes bounce {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
