/* ------------------------------------------ */
/* FONTS */
* {
    font-family: Arial, Helvetica, sans-serif;
}

/* ------------------------------------------ */
/* HEADER */
.header-container {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    color: white;
}

.highlight {
    background-color: #0055AA; 
    padding: 4px; 
    border-radius: 4px; 
}

.final-logo {
    width: 150px; 
    height: auto; 
}

.logo-container {
    display: flex;
    justify-content: center; 
}

/* ------------------------------------------ */
/* HERO */

/* ------------------------------------------ */
/* BODY */
h3 {
    border-bottom: 3px solid #0055AA;
    width: fit-content;
}

h4 a {
    text-decoration: none;
    color: #0055AA;
}

p {
    text-align: center; 
    margin-left: auto;
    margin-right: auto; 
    padding: 10px; 
    text-align: left;
    width: 80%;
}

.text-container {
    display: flex;
    flex-direction: column;  
    align-items: flex-start; 
    margin: 0 auto;         
    max-width: 900px;       
}

/* PERSONA */
.user-persona {
    display: block;               
    margin: 0 auto;                
    max-width: 100%;              
    width: 90%;                  
    min-width: 300px;             
    max-width: 600px;              
    height: auto; 
    border-radius: 10px;
}