/* ------------------------------------------ */
/* FONTS */
* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
}

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------------------------------------ */
/* HERO */
.hero {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}

.hero-image {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
    margin-bottom: 50px; 
    display: block;
}

@media (max-width: 580px) {
    .hero-image {
        height: 200px; 
        object-fit: cover;
        width: auto;
    }
}

/* ------------------------------------------ */
/* BODY */
h3 {
    border-bottom: 3px solid #0055AA;
    width: fit-content;
    font-size: 22px;
    margin: 0 auto; 
}

h4 a {
    text-decoration: none;
    color: #0055AA;
}

p {
    text-align: center; 
    margin-left: auto;
    margin-right: auto; 
    padding: 10px; 
    text-align: left;
    width: 80%;
    font-size: 18px;
    line-height: 1.6;
}

ul {
    text-align: center; 
    margin-left: auto;
    padding: 10px; 
    text-align: left;
    width: 80%;
    font-size: 18px;
    line-height: 1.6;
}

.text-container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;     
}

/* PERSONA */
.user-persona {
    display: block;               
    margin: 0 auto;                
    max-width: 100%;              
    width: 90%;                  
    min-width: 300px;             
    max-width: 600px;              
    height: auto; 
    border-radius: 12px;
    border: 3px solid #0055AA; 

}

/* GIFS */
.final-gif {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.final-gif img {
    border-radius: 12px;
    width: 200px;
    max-width: 100%;
    height: auto;
    border: 3px solid #0055AA;
}